body {
    font-family: Arial, sans-serif;
    background-color: #ffcccc; /* Light Red */
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #c3ffb5; /* Light Green */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

li:last-child {
    border-bottom: none;
}

.delete {
    float: right;
    cursor: pointer;
    color: #ff0000; /* Red */
    margin-left: 10px; /* Adjust as needed */
}

.checkbox {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
}

.datetime {
    font-size: 0.8em;
    color: #666; /* Gray */
}
